# Expo & Node
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
Library/
Downloads/
.cargo/
*.pem
*.log
*.zenc
*.mp3
*.MP4
*.dmg

# local env files
.env*.local

# typescript
*.tsbuildinfo
